<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
</head>
<body>
<h1>This is webSocket client</h1>
<div id="log" ></div>
</body>
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        var socket = io();
        // Special events `connect`, `disconnect` 
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
            socket.send("Now we are connected!");
        });

        // unnamed special event, the other being `json`
        socket.on('message', function(msg) {
            $('#log').append('<br>' + $('<div/>').text('logs #' + msg).html());
        })
    })
</script>
</html>